<div class="container mt-4" style="min-height: 100vh; display: flex; flex-direction: column;">
  <div class="card">
    <div class="card-header">
      <h3>Búsqueda de Noticias</h3>
    </div>
    <div class="card-body" style="flex-grow: 1;">
      <form (ngSubmit)="onSearch()">
        <div class="row">
          <!-- Campo de Búsqueda -->
          <div class="form-group">
            <label for="query">Buscar:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" id="query" class="form-control" [(ngModel)]="query" name="query"
                placeholder="Escribe tu búsqueda" required />
            </div>
          </div>

          <!-- Campo de Categoría -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="category">Categoría:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-th-list"></i></span>
                </div>
                <select id="category" class="form-select" [(ngModel)]="category" name="category">
                  <option value="">Seleccionar categoría</option>
                  <option value="business">Negocios</option>
                  <option value="entertainment">Entretenimiento</option>
                  <option value="general">General</option>
                  <option value="health">Salud</option>
                  <option value="science">Ciencia</option>
                  <option value="sports">Deportes</option>
                  <option value="technology">Tecnología</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Campo de Autor -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="author">Autor:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-pen"></i></span>
                </div>
                <input type="text" id="author" class="form-control" [(ngModel)]="author" name="author"
                  placeholder="Introduce el autor" />
              </div>
            </div>
          </div>

          <!-- Campo de Fecha -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="date">Fecha:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="date" id="date" class="form-control" [(ngModel)]="date" name="date" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Campo de Fuente -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="source">Fuente:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                </div>
                <input type="text" id="source" class="form-control" [(ngModel)]="source" name="source"
                  placeholder="Introduce fuente (opcional)" />
              </div>
            </div>
          </div>

          <!-- Campo de Idioma -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="language">Idioma:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-language"></i></span>
                </div>
                <select id="language" class="form-select" [(ngModel)]="language" name="language">
                  <option value="">Seleccionar idioma</option>
                  <option value="en">Inglés</option>
                  <option value="es">Español</option>
                  <option value="fr">Francés</option>
                  <option value="de">Alemán</option>
                  <option value="it">Italiano</option>
                  <option value="pt">Portugués</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Campo de Ordenar -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="sortBy">Ordenar por:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-sort"></i></span>
                </div>
                <select id="sortBy" class="form-select" [(ngModel)]="sortBy" name="orden">
                  <option value="publishedAt">Más recientes</option>
                  <option value="relevancy">Más relevantes</option>
                  <option value="popularity">Más populares</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
      </form>
    </div>
  </div>

  <!-- Resultados de la búsqueda -->
  <div *ngIf="articles.length > 0" class="mt-4" style="flex-grow: 1;">
    <h4>Resultados:</h4>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let article of displayedArticles">
        <div class="card mb-4">
          <img [src]="article.urlToImage" class="card-img-top" alt="Imagen del artículo" *ngIf="article.urlToImage">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <a href="{{ article.url }}" class="btn btn-info" target="_blank">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <nav aria-label="Page navigation" style="margin-top: auto;">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
        <a class="page-link" href="#" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
